article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
html {
    font-size: 100%; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
}
strong {
    font-weight: bold;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
ol,
ul {
    margin: 1em 0;
        padding: 0 0 0 40px;

}
img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

body
    {
    padding:0;
    border:0;
    margin:0;
    text-align:left;
    font-family: 'Source Sans Pro', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color:#545454;
    }
.content-wrap
    {
    border-top:4px solid #222;
    background:#fcfcfc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fcfcfc));
    background-image: -webkit-linear-gradient(top, #eee, #fcfcfc 50px);
    background-image:    -moz-linear-gradient(top, #eee, #fcfcfc 50px);
    background-image:      -o-linear-gradient(top, #eee, #fcfcfc 50px);
    background-image:         linear-gradient(to bottom, #ccc, #fcfcfc 50px);
    }
.content-wrap:before
    {
    border-top:1px solid #fff;
    position:absolute;
    width:100%;
    top:4px;
    content:" ";
    }
.content
    {
    width:auto;
    max-width:54em;
    min-width:360px;
    margin:0 auto;
    padding:0 2em;
    }
h1, h2, h3, h4
    {
    font-family:Bitter, georgia, serif;;
    }
h4
    {
    font-weight:normal;
    }
h1
    {
    /*font-size:66px;*/
    /*font-weight:lighter;*/
    text-align:center;
    color:#000;
    }
p
    {
    line-height:1.5;
    }
table
    {
    border:0;
    border-bottom:1px solid #ccf;
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
    }
td, th
    {
    border-top:1px solid #ccf;
    padding:0.4em 0;
    vertical-align:top;
    }
tr td:first-child
    {
    padding-right:1em;
    }
pre[class*="language-"] {
    border: 1px solid #CCCCFF;
    border-radius: 0.2em
    }
code
    {
    font-family:Consolas,Monaco,"Bitstream Vera Sans Mono",'Andale Mono','lucida console',monospace;
    }
kbd
    {
    display: inline;
    display: inline-block;
    min-width:1em;
    padding:.2em .3em .3em .3em;
    font: normal .85em/1em Consolas,Monaco,"Bitstream Vera Sans Mono",'Andale Mono','lucida console',monospace;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: .3em;
       -moz-border-radius: .3em;
            border-radius: .3em;
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    background: rgb(230, 230, 230);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(230,230,230)), to(rgb(245,245,245)));
    background: -moz-linear-gradient(top, rgb(230,230,230), rgb(245,245,245));
    background: -ms-linear-gradient(top, rgb(230,230,230), rgb(245,245,245));
    background: -o-linear-gradient(top, rgb(230,230,230), rgb(245,245,245));
    background: linear-gradient(top, rgb(230,230,230), rgb(245,245,245));
    color:#222;
    text-shadow: 0 1px 0 rgb(255,255,255);
    border:1px solid #ccc;
    border-right:1px solid #aaa;
    border-bottom:1px solid #aaa;
    -webkit-box-shadow: 0 2px 3px rgba(220,220,220,.8);
       -moz-box-shadow: 0 2px 3px rgba(220,220,220,.8);
            box-shadow: 0 2px 3px rgba(220,220,220,.8);
    }
a {
   color : #000;
 }

 a:hover, a:focus, a:active {
   color : maroon;
   text-decoration : none;
 }

 a:focus, a:active {
   background-color : yellow;
 }
#footer
    {
    font-size:0.8em;
    border-top:1px solid #ccc;
    padding:1.2em 0;
    }
@media only screen and (min-width: 768px) {
    h1
        {
        font-size:4em;
        font-weight:normal;
        }
    #leadin
        {
        padding-right:360px;
        position:relative;
        min-height:400px;
        }
    #leadin:after
        {
        content:" ";
        width:360px;
        height:100%;
        
        position:absolute;
        right:0;
        bottom:0;
        background:red url(../datepicker.png) no-repeat 0 100%;
        background-size:cover;
        }
}
/* ==========================================================================
   h5bp Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}